extends layout

block content
  h1= title

  h2 BookInstance: #{bookinstance.id}

  p Are you sure you want to delete this BookInstance?

  form(action=bookinstance.url + '/delete' method='post')
    input(type='hidden' name='bookinstanceid' value=bookinstance._id)
    button(type='submit' class='btn btn-danger') Delete
    a(href='/catalog/bookinstances' class='btn btn-secondary') Cancel
